<!doctype html>
<title>Love Live!</title>
<h1>Hello, Aqours!</h1>

<select>
  <option value="mikan">Takami Chika</option>
  <option value="yosoro">Watanabe You</option>
  <option value="riri">Sakurauchi Rico</option>
  <option value="bbigi">Kurosawa Ruby</option>
  <option value="zura">Kunikita Hanamaru</option>
  <option value="yohane">Tsushima Yoshico</option>
  <option value="shiny">Ohara Mari</option>
  <option value="hug">Matsuura Kanan</option>
  <option value="bbubbu">Kurosawa Dia</option>
</select>

<hr>

<div id="profile">
  <h1 class="name">Takami Chika</h1>
  <h2 class="cv">Inami Anju</h2>
  <ul class="center">
    <li>Kimi no kokoro wa kagayaiteru kai?</li>
  </ul>
</div>

<script>
</script>